*{
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	background-color: #000;
	background-image: url(../images/bg.gif);
	background-position: center;
	background-repeat: repeat-y;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px auto;
	background-color: #fff;
	min-height: 100%;
	width: 960px;
}
header {
	position: relative;
	width: 960px;
}
h1 {
	width: 330px;
	height: 142px;
	display: inline-block;
	overflow: hidden; 
	margin-top: 10px;
}
h1 img {
	position: relative;
	left: 25px;
}
h2 {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	top: -6px;
	left: 195px;
	color: #000;
	font-family: 'Neucha', arial, serif;
	font-size: 1.5em;
	text-align: right;
}
nav > ul {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-top: 35px;
}
nav > ul > li {
	list-style-type: none;
	display: inline;
	padding: 10px 40px;
}
nav > hr {
	width: 865px;
	margin: 10px auto;
	border-color: #CCC;
}
section > div {
	position: relative;
	background-color: #fff;
}
section > hr {
	width: 865px;
	margin: 10px auto;
	border-color: #CCC;
}
article {
	width: 865px;
	margin: 0 auto;
}
article > h3 {
	font-family: 'Neucha', arial, serif;
	font-size: 2em;
	margin-bottom: 10px;
	background: #25c5e3;
	padding: 10px 0 10px 10px;
	color: #fff;
	text-shadow: 2px 2px 4px #000;
}
article p {
	margin-bottom: 10px;
}
article img {
	display: block;
	margin-left: 175px;
	margin-right: 175px;
}
footer p {
	text-align: center;
	width: 100%;
	font-size: .85em;
	color: #000;
}
footer a {
	color: #aaa;
}
footer a:hover {
	color: #25c5e3;
}
footer > hr {
	width: 865px;
	margin: 10px auto;
	border-color: #CCC;
}